body {
    background: #1e1e2f;
    color: white;
    font-family: Arial;
    text-align: center;
    padding: 40px;
}

button {
    padding: 12px;
    margin: 10px;
    font-size: 16px;
}

pre {
    background: black;
    color: #00ff00;
    padding: 20px;
    margin-top: 20px;
}
